<div class="col-xs-12 col-sm-8 col-sm-offset-1">
<div class="panel panel-info">
    <div class="panel-heading">Business Total Score per Day</div>
    <div class="panel-body">
        <div class="col-xs-12">
            <label class="">Select Business:</label>
            <select  style='width:150px' ng-options="b as b.name for b in businesses" ng-model="bid" ng-change="update()" >              </select>
            
        </div><br/><br/>
        <div class="col-xs-12">
            <vis-graph2d data="data" options="options" ></vis-graph2d>
        </div>
    </div>
</div>
</div>

<div class="col-xs-12 col-sm-2 col-sm-offset-0">
<div ng-show="bid" class="panel panel-warning">
    <div class="panel-heading">Business Details</div>
    <div  class="panel-body">
        <div class="col-xs-11">
            <div>
            <label >City:</label>
                {{bid.city}}|
            </div>
        </div>
        <div class="col-xs-11">
            <div>
            <label >Address:</label>
                {{bid.full_address}}
            </div>
        </div>
        <div class="col-xs-11">
            <div>
            <label >State:</label>
                {{bid.state}}
            </div>
        </div>
    </div>
</div>
    <i ng-show="spamPer" class="glyphicon glyphicon-info-sign"> {{spamPer}}%  of reviews are spam </i>
    <i ng-show="spamPer" class="glyphicon glyphicon-arrow-up"> {{upperThreshold}}  upper threshold </i>
    <i ng-show="spamPer" class="glyphicon glyphicon-arrow-down"> {{lowerThreshold}}  lower threshold </i>
    
</div>