<div class="jumbotron">
  <h2>SpamJam</h2>
  <p class="lead thumbnail">
    <!--<img src="images/spam-detection.jpg"  alt="Spam detection"><br>-->
      <img src="images/jelly.png"  alt="Spam detection"><br>
    <strong><h4>Developed By:</h4></strong>
  <p>
    Georgiadis Nikolaos,
    Kouroutzidis Theodoros - Nikolaos,
    Liaros Georgios,
    Melissinos Pavlos
  </p>
  <h6>Summer of 2015</h6>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="http://github.com/teonapster/vakspam">Find us on GitHub!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
